.Card {
  width: 100%;
  background: #3d3e43;
  border-radius: 4px;
  display: flex;
  margin: 0 0 24px;

  & > img {
    border-radius: 4px 0 0 4px;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    object-fit: center;
  }

  h5,
  p {
    color: #fff;
    line-height: 1.25;
  }

  &__content {
    padding: 12px;
    h5 {
      font-size: 20px;
      margin: 0;
    }
    p {
      font-size: 14px;
      margin: 0 0 4px;
      &.Card__label {
        margin-top: 20px;
        color: #757272;
      }
    }
  }
}
